{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'user/style.css' %}">
    </head>
    <body>
        <nav >
            <div class="flex">
                <!-- website logo -->  
                <div >
                    <a href="" class="flex">
                        <img class="h-8 w-8 mr-2" src="{% static 'user/images/booklogo.png' %}">
                        <span class="font-semibold text-lg text-gray-500">Book Review</span>     
                    </a>
                </div>
                <!--website items -->  
                <div >
                    <a class= >link1 </a>
                    <a >link1 </a>
                </div>
            </div>
        </nav>
        {% if request.user.is_authenticated %}
            <a href="{% url 'user_logout' %}"> logout</a>
        {% else %}
            <a href="{% url 'user_login' %}"> login</a>
        {% endif %}


        {% block content %}

        {% endblock %}
    </body>
</html>