{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'user/style.css' %}">
        <link rel="stylesheet" href="{% static 'user/my.css' %}">
    </head>
    <body>
        <nav class='shadow-lg'>
            <div class="mx-auto px-2" >
                <div class="flex justify-between">
                    <!-- website logo -->  
                    <div >
                        <a href="" class="flex">
                            <img class="h-8 w-8 mr-2" src="{% static 'user/images/booklogo.png' %}">
                            <span class="font-semibold text-lg text-gray-500">Book Review</span>     
                        </a>
                    </div>
                    <!--website items -->  
                    <div class="space-x-1" >
                        {% if request.user.is_authenticated %}
                            <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'user_logout' %}" >logout </a>
                        {% else %}
                            <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'user_login' %}" >login </a>
                        {% endif %}
                            <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'feed' %}" >Feeds </a>
                            <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'index' %}" >Index </a>
                    </div>
                </div>
            <div>
        </nav>
     

        {% block content %}

        {% endblock %}
    </body>
</html>